alabaster==0.7.11
anachronos==0.0.7
MarkupSafe==2.0.1
argh==0.26.2
certifi==2018.8.24
chardet==3.0.4
coverage==4.5.1
croniter==2.0.1
idna==2.7
Jinja2==3.0.3
livereload==2.5.2
pockets==0.7.2
port-for==0.3.1
pyparsing==2.2.0
python-dateutil==2.7.3
PyYAML==6.0.1
requests==2.26.0
six==1.11.0
Sphinx==7.2.6
sphinx-autobuild==2021.3.14
sphinx-rtd-theme
urllib3==1.26.5
Werkzeug==0.15.3
gunicorn==20.0.4
